# Old subversion repository
.svn/

.vs/
.vshistory/
.vscode/
.idea/
obj/
*.suo
*.csproj.user
*.pidb
*.userprefs
pax_global_header

bin/
tmp/
/init/
/get_IPV6_V6ONLY/

/autom4te.cache/
/aclocal.m4
/AUTHORS
/ChangeLog
/COPYING
/compile
/config*
/depcomp
/INSTALL
/install-sh
/Makefile*
/missing
/NEWS
/README
/src/Makefile*
/src/sokgo.in
